# Part One

Today's challenge is easily solved with a circular linked list. The `collections.deque` class from the standard library is an efficient implementation of this.

In [1]:
from collections import deque

def highest_score(nplayers, max_marble):
    circle = deque((0,))
    scores = [0]*nplayers
    for n in range(1, max_marble + 1):
        if n % 23 == 0:
            circle.rotate(7)
            scores[n % nplayers] += circle.popleft() + n
        else:
            circle.rotate(-2)
            circle.appendleft(n)
    return max(scores)

In [2]:
highest_score(9, 25)

32

In [3]:
highest_score(10, 1618)

8317

In [4]:
highest_score(13, 7999)

146373

In [5]:
highest_score(17, 1104)

2764

In [6]:
highest_score(21, 6111)

54718

In [7]:
highest_score(30, 5807)

37305

In [8]:
# puzzle input: 429 players; last marble is worth 70901 points
highest_score(429, 70901)

399645

# Part Two

In [9]:
highest_score(429, 70901*100)

3352507536